@using ProjetOrion.Models
@model ProjetOrion.Models.Utilisateur

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-lg-2 col-md-2 col-sm-2">
            <img src="@Model.Photo" alt="@Model.Pseudo" class="img-responsive img-circle">
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm("ModifierUtilisateur", "SuperManager", FormMethod.Post, new { @class = "col-lg-offset-2 col-lg-8 form-horizontal", enctype = "multipart/form-data" }))
        {
            <fieldset>
                <legend></legend>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        @Html.LabelFor(user => user.Pseudo, new {@class = "control-label pull-left"})
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        @Html.TextBoxFor(user => user.Pseudo, new {@class = "form-control", @id = "pseudo", @readonly = true})
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-3">
                        @Html.ValidationMessageFor(user => user.Pseudo)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        @Html.LabelFor(user => user.Email, new {@class = "control-label pull-left"})
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        @Html.TextBoxFor(user => user.Email, new {@class = "form-control", @type = "email", @id = "email", @readonly = true})
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-3">
                        @Html.ValidationMessageFor(user => user.Email)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        @Html.LabelFor(user => user.MotDePasse, new {@class = "control-label pull-left"})
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        @Html.PasswordFor(user => user.MotDePasse, new {@class = "form-control", @id = "motDePasse"})
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-3">
                        @Html.ValidationMessageFor(user => user.MotDePasse)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4  col-md-4 col-sm-4">
                        @Html.LabelFor(user => user.ConfirmerMotDePasse, new {@class = "control-label pull-left"})
                    </div>
                    <div class="col-lg-5  col-md-5 col-sm-5">
                        @Html.PasswordFor(user => user.ConfirmerMotDePasse, new {@class = "form-control", @id = "confirmMotDePasse"})
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        @Html.ValidationMessageFor(user => user.ConfirmerMotDePasse)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4  col-md-4 col-sm-4">
                        @Html.LabelFor(user => user.Photo, new {@class = "control-label pull-left"})
                    </div>
                    <div class="col-lg-5  col-md-5 col-sm-5">
                        <input type="file" name="myPhoto" id="myPhoto" class="input-files"/>
                    </div>
                </div>
                <div class="form-group row">
                    <input type="submit" class="btn btn-primary pull-left" id="sauvegarder" value="Modifier le profil"/>
                </div>
            </fieldset>
        }
    </div>
    
</div>
