@using ProjetOrion.Models
@model ProjetOrion.Models.UtilisateurViewModel

@{
    ViewBag.Title = "Tous les utilisateurs - Super Manager";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Menu {
    @Html.Partial("MenuSuperManager", @Model)
}
@section Footer {

}

<h1>Tous les utilisateurs</h1>

<section class="row">
    @using (var dal = new Dal())
    {
        var utilisateurs = dal.ObtenirTousLesUtilisateurs();
        foreach (var utilisateur in utilisateurs)
        {
            <div class="col-xs-3 col-sm-2 col-md-1">
                <div class="row">
                    @Html.ActionImage("ProfilUtilisateur", "SuperManager", new {id = utilisateur.Id }, @utilisateur.Photo, @utilisateur.Pseudo)
                </div>
                <div class="row">
                    <span class="center-block text-center">@utilisateur.Pseudo</span>
                </div>
            </div>
        }
    }
</section>